@media(min-width: 320px) and (max-width: 720px){

    /* Pagina de upload  */
    .page-upload {
        margin-left: 2rem;
    }

    .informacoes{
        margin-top: 5rem;
    }

    .titulo h1 {
        font-size: 2rem;
    }

    .descricao h1 {
        font-size: 1.5rem;
        width: 30rem;
    }

    .img-principal img {
        display: none;
    }

    input[type="file"] {
        margin: auto;
        width: 20rem;
        height: 15rem;
    }

    form{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    form button {
        width: 25rem;
    }

    #message{
        width: 20rem;
        margin: auto;
    }

    /* parte do footer  */

    footer{
        display: none;
    }

/*result*/

.fundo-azul{
    padding: 7%;
}

.resultados-header h1 {
    font-size: 1.2rem;
    margin: 0%;
    margin-bottom: 2rem;
}

.resultados-header img{
    width: 2rem;
}

.info-documento {
    width: 24rem;
    margin-left: 0;
}

.titulo-info h2 {
    font-size: 1.2rem;
}

.titulo-info img {
    margin: 0;
    width: 2rem;
}

input {
    margin: 0%;
}

.titulo-info {
    margin: 0%;
}

.info-documento p{
    font-size: 1rem;
}

.botoes {
    margin: 0%;
}

.botoes button {
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
}

footer {
    height: 7rem;
    display: flex;
    text-align: center;
}

.infomacoes-footer h1{
    font-size: 0.9rem;
}

.infomacoes-footer img{
    display: none;
}

.termos-e-responsabilidades h1{
    font-size: 0.9rem;
}

.termos-e-responsabilidades img{
    display: none;
}

.Código-de-Ética-e-Normas-de-Conduta h1{
    font-size: 0.9rem;
}

.Código-de-Ética-e-Normas-de-Conduta img{
    display: none;
}

.termos-e-responsabilidades{
    display: flex;
    align-items: center;
    gap: 1rem;
}
}